* {
    margin: 0px;
    padding: 0px;
}
body {
    position: relative;
    font-family: 'Times New Roman', Times, serif;

}
nav{
    padding: 20px;
    background-color: rgb(100, 100, 100);
    border-bottom: darkblue solid 10px;


}
li {
    display: inline;
    font-size: 20px;
    text-decoration: none;
    padding: 10px

    
}

a {
    text-decoration: none;
    color: darkblue;

}
figure {
    
}

h2 {
    color: darkblue;
    margin: 40px 10px 10px;

}
h3 {
    font-size: x-large;
    padding: 0px 0px 20px;
}
img {
   display: block;
   margin: 20px auto;
   height: 300px;
   width: 200px;
}
.text-centered {
    text-align: center;
}

.text-right {
    text-align: right;
}
h1 {
    font-size: 50px;
}
main {
    background-color:rgb(167, 167, 167);

}
form {
    width: 255px;
    padding: 0px 100px 50px;
    background-color:rgb(100, 100, 100);
    margin: 0 auto;
    display: block;
    border: 3px solid darkblue;

}
button {
    height: 40px;
    width: 150px;
    Margin: 10px;
    background-color: darkblue;
    color: white;

}
    